$color-primary: #535c68;
$color-highlight: #f9ca24;
$color-secondary: #eece1a;

$white-color: #fff;
$black-color: #000;

$show-home-image: true;
$home-image: url(../img/background.jpg);
$background-opacity: .8;